# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/

# Node / Angular
node_modules/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


# Global logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code global
.vscode/